@import "tailwindcss";


.custom-scrollbar::-webkit-scrollbar{
    width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track{
    background-color: #8a8aa2a4;
    border-radius:3px
}
.custom-scrollbar::-webkit-scrollbar-thumb{
    background-color: #d1d5dbd0;
    border-radius: 3px;

}
.custom-scrollbar::-webkit-scrollbar-thumb:hover{
    background-color: #ffffff;
}

.custom-scrollbar{
    scroll-behavior: smooth;
}

.bg-noise{
    background-image: url("https://www.transparenttextures.com/patterns/noise-pattern.png");
}